/* Navbar */
.navbar {
    background-color: #1f2937;
    color: white;
    padding: 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar .text-lg {
    font-weight: bold;
    margin-left: 10px; /* Adiciona a margem à esquerda para dar espaço ao botão */
}

.navbar .navbar-links {
    display: flex;
    gap: 1rem;
}

.navbar .navbar-link {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease;
}

.navbar .navbar-link:hover {
    color: #9ca3af;
}

/* Botão de toggle */
.menu-toggle {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 0; /* Sem margem esquerda no botão */
}

.menu-icon {
    width: 24px;
    height: 24px;
}

/* Ajustes para o botão de menu nas telas menores */
@media (max-width: 768px) {
    .navbar-container {
        position: relative;
    }

    .menu-toggle {
        position: absolute;
        right: 10px;
        top: 10px; /* Ajuste o valor conforme necessário */
        z-index: 1001;
    }

    .menu-icon {
        width: 24px;
        height: 24px;
    }
}

